<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <div class="user-info">
            <form th:action="@{/}" method="get">
                <select name="userId" onchange="this.form.submit()">
                    <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}"
                            th:selected="${user.id} == ${currentUser?.id}">Username</option>
                </select>
            </form>
        </div>
    </header>
    <main>
        <section class="categories">
            <h1>Categories</h1>
            <ul>
                <li th:each="category : ${categories}" th:text="${category.name}">Category Name</li>
            </ul>
        </section>
        <section class="posts">
            <h1>All Posts</h1>
            <form th:action="@{/posts/new}" th:object="${newPost}" method="post">
                <label for="content">Content:</label>
                <textarea th:field="*{content}" id="content" required></textarea>
                <br>
                <label for="author">Author:</label>
                <select th:field="*{author.id}" id="author" required>
                    <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}"></option>
                </select>
                <br>
                <label for="category">Category:</label>
                <select th:field="*{category.id}" id="category" required>
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
                <br>
                <button type="submit">Add Post</button>
            </form>
            <div th:each="post : ${posts}" class="post">
                <p th:text="${post.content}" style="font-size: 18px; font-weight: bold;"></p>
                <p th:text="${post.category.getName()}" style="font-size: 12px;"></p>
                <p th:text="${post.author.getUsername()}" style="font-size: 12px;"></p>
<!--                <a th:href="@{/posts/edit/{id}(id=${post.id})}">Edit</a>-->
<!--                <a th:href="@{/posts/delete/{id}(id=${post.id})}">Delete</a>-->
                <div class="comments">
                    <h3>Comments</h3>
                    <form th:action="@{/comments/(postId=${post.id})}" th:object="${newComment}" method="post">
                        <label for="comment_content">Comment:</label>
                        <input th:field="*{content}" id="comment_content" required></input>
                        <label for="comment_author">Author:</label>
                        <select th:field="*{author.id}" id="comment_author" required>
                            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}"></option>
                        </select>
                        <br>
                        <button type="submit">Add Comment</button>
                    </form>
                    <div th:each="comment : ${post.comments}" class="comment">
                        <p th:text="${comment.content}">Comment Content</p>
                        <p><small th:text="${comment.author.getUsername()}">Author</small></p>
<!--                        <a th:href="@{/posts/{postId}/comments/edit/{id}(postId=${post.id},id=${comment.id})}">Edit</a>-->
<!--                        <a th:href="@{/posts/{postId}/comments/delete/{id}(postId=${post.id},id=${comment.id})}">Delete</a>-->
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
