<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post Form</title>
</head>
<body>
    <h1 th:text="${post.id == null} ? 'Add New Post' : 'Edit Post'">Post Form</h1>
    <form th:action="@{/posts}" th:object="${post}" method="post">
        <input type="hidden" th:field="*{id}">
        <label for="title">Content:</label>
        <input type="text" th:field="*{content}" id="content" required>
        <br>
        <label for="content">Content:</label>
        <textarea th:field="*{content}" id="content" required></textarea>
        <br>
        <button type="submit">Save</button>
    </form>
    <a href="/">Back to Posts</a>
</body>
</html>