<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>
    <h1>All Users</h1>
    <a href="/users/new">Add New User</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">1</td>
                <td th:text="${user.username}">Sample Name</td>
                <td th:text="${user.email}">Sample Email</td>
                <td>
                    <a th:href="@{/users/edit/{id}(id=${user.id})}">Edit</a>
                    <a th:href="@{/users/delete/{id}(id=${user.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>